[data-testid="stAppViewContainer"]{ 
    background: linear-gradient(135deg, #014437 0%, #121212 100%);
}

.block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.dataframe, table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.8));
}
.stSelectbox, .stPlotlyTable, .stTable{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h4, p, div{
    text-align: center !important;
}
h1{
    text-align: center !important;
    font-family: 'Trebuchet MS' !important;
    font-size: 40px !important;
}
h2, h3{
    text-align: center !important;
    font-family: 'Trebuchet MS' !important;
}
[data-testid="stHeading"] svg {
    display: none;
}

.combo-row {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
}
.combo-badge {
    background-color: #111; 
    color: #4cd073; 
    padding: 6px 15px; 
    border-radius: 8px; 
    border: 1px solid #333;
    font-family: monospace;
    font-weight: 600;
    font-size: 14px;
}

.combo-score {
    margin-left: 12px; 
    font-size: 16px; 
    font-weight: bold; 
    color: #ddd;
}

[data-testid="stArrowVegaLiteChart"], 
[data-testid="stVegaLiteChart"], 
[class*="stArrowVegaLiteChart"] {
    border: 2px solid rgba(255, 255, 255, 0.2) !important; 
    border-radius: 10px !important;
    border-width: 2px !important;
    border-color: #464545 !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    overflow: hidden !important; 
}